/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  :root{
     --main-color: #19c8fa;
     --transparent-color: rgb(15 116 143 / 70%);
     --padding-section:100px;
  }
  html {
    scroll-behavior: smooth;
    /* background-color: black; */
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  /* End Global Rules */
  /* Start Header */
  .header{
    background-image:url(../images/Bridge.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .header .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      
  }
  .header .container::after{
      content: "";
      position: absolute;
      height: 1px;
      background-color: #a2a2a2;
      bottom: 0;
      width: calc(100% - 30px);
      left: 15px;
     }
     .header .logo img{
         height: 40px;
         z-index: 1;
     }
     .header nav{
         flex: 1;
         display:flex;
         align-items: center;
         justify-content: flex-end;
         margin-right: 45px;
     }
     .header nav ul{
        display: flex;
        
     }
     header nav ul li a {
        padding: 15px !important;
      }
     .header nav ul li a{
        padding: 40px 10px;
        display: block;
        color: white;
        text-decoration: none;
        font-size: 14px;
        transition: 0.3s;
        position: relative;
        z-index: 2;
     }
     .header nav ul li a.active,
     .header nav ul li a:hover{
         color: var(--main-color);
     }
     .header nav .vertical-line{
       
        color: rgb(54, 89, 146);
        height: 35px;
        position: absolute;
        border-left: 1px solid #fdf8f8;
        right:57px;
    }
   
     .header .form i{
         color: white;
         position: relative;
         left: 47px;
     }
     
    /* End Header */
    /* Start Landing Section */
    .paginat {
        position: absolute;
        left: 50%;
         display: flex;
         bottom: 30px;
         transform: translateX(-50%);
    
    }
    .paginat .pagination{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        padding: 2px;
       
    }
    
    .paginat .pagination .circle {
      left: 0px;
      width: 20px;
      height: 20px;  
      border: 2px solid var(--main-color);
      border-radius: 100%;
      padding: 10px;
      display: flex;
    }
    
    .paginat .pagination .active {
      background-color: var(--main-color);
      border-color: var(--main-color);
    }
    .landing i{
        position: absolute;
        bottom: 50%;
        font-size: 36px;
    }
    .landing .fa-angle-left{
        color: white;
        left: 30px;
        z-index: 1;
    }
    .landing .fa-angle-right{
        color: white;
        right: 30px;  
    }
     /* End Landing Section */
     
     /* Start Content */
        .txt{
            color:white ;
            position: absolute;
            top: 50%;
            width: 50%;
            left: 0;
            padding: 50px;
            z-index: 0;
            background-color: var(--transparent-color);
            
            transform: translateY(-50%);
            display: flex;
            justify-content: flex-end;
        }
            .txt .content{
            max-width: 500px;

            
        }
        @media (max-width: 767px) {
            .txt .content{
              width: 100%;
            }
        }
        .txt .content h2{
            font-size: 30px;
            font-weight: normal;
            /* margin-bottom: 40px; */
            line-height: 1.5;


    margin-bottom: 20px;


        }
        .txt .content p{
            line-height: 2;
            font-size: 14px;

        }
       
     /* End Content */
     
     /* Start Component */

        .main-heading{
            text-align: center; 
            margin-bottom: 50px;
        }
        .main-heading h2{
            text-align: center;
            color: black;
            font-size: 40px;
            font-weight: normal;
            background-color: white;
            margin: 80px;
        }
        .main-heading p{
            text-align: center;
            line-height: 2;
            color: #777;
            font-weight: normal;
            max-width: 550px;
            margin: auto;
        }
        .main-heading h2::before{
            content: "";
            position: absolute;
            background-color: rgb(92, 86, 86);
            height: 2px;
            width: 124px;
            left: 45%;
            top: 80px;
        }
        .main-heading h2::after{
            content: "";
            position: absolute;
            background-color: white;
            border: 2px solid rgb(92, 86, 86);
            border-radius: 50%;
            height: 14px;
            width: 14px;
            left: 49%;
            top: 72px;
        }
        
     /* End Component */

     /* Start Services */
        .services{
            height: 100vh;
            position: relative;
        }
        .services .services-container{
            display: flex;
            flex-flow: row wrap;
            margin: 80px 80px;
            justify-content:space-between;
        }
        @media (min-width: 768px) {
            .services .services-container {
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
              grid-column-gap: 40px;
              grid-row-gap: 60px;
            }
        }
        .services .srv-box{
            display: flex;
            width: 500px;
            padding: 0 15px 20px 15px;
            margin-bottom: 50px;
        }
        @media (max-width: 767px) {
            .services .srv-box {
              display: flex;
              flex-direction: column;
              text-align: center;
              margin-bottom: 40px;
            }}
        .services .srv-box i{
            margin-right: 50px;
        }
        .services .srv-box .text h3{
            color: var(--main-color);
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 20px;
            background-color: white;
   
        }

        .services .srv-box .text p{
            line-height: 2;
            color: #777;
            font-weight: normal;
            font-size: 16px;
            max-width: 550px;
            margin: 0 7px;
        }
    /* End Services */
    /* Start Design*/
        .design{
            height: 600px;
            position: relative;
            margin-top: 500px;
            display: flex;
            align-items: center;
            /* justify-content: space-evenly; */
            background-image: url(../images/design-features.jpg);
            background-size: cover;    
            overflow: hidden;
            padding-top: var(--section-padding);
            padding-bottom: var(--section-padding);
        }
        .design::before{
            content: "";
            background-color: rgb(0 0 0 / 60%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .design .images{
            text-align: center;
            position: relative;
        }
        @media (max-width: 767px) {
            .design .image {
            display: none;
            }
         }
        .design .images img{
           position: relative;
           bottom: -150px;
           flex: 1;
           margin: 0 100px;
           z-index: 1;
           
        }
        .design .text{
            position: relative;
            flex: 1;
            color: white;
            padding: 50px;
            background-color:rgb(15 116 143 / 70%);
            z-index: 1;
                 
        }
        .design .text h2{
            font-size: 30px;
            font-weight: normal;
            margin-bottom: 20px;
        }
        .design .text ul{
            /* margin: 45px; */
            font-size: 20px;
        }
        .design .text ul li {
           padding: 15px 0;
        }
        .design .text ul li::before {
            font-family: "Font Awesome 5 Free";
            content: "\f108";
            font-weight: 900;
            margin-right: 20px;
            position: relative;
            top: 1px;
        }
        /* End Design*/
         /* Start Portfolio */
        .portfolio{
            position: relative;
        }
        .portfolio .parshuf{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 90px;
        }
        .portfolio .parshuf .shuffle{
            display: flex;
        }
        .portfolio .parshuf .shuffle li{
            padding: 10px;
        }
        .portfolio .parshuf .shuffle .active,
        .portfolio .parshuf .shuffle li:hover{
            background-color: var(--main-color);
            color: white;
            
        }
        
        .portfolio .pictures{
            display: flex;
            flex-wrap: wrap;
            margin-top: 60px;
        }
        .portfolio .pictures .box{
            display: flex;
            overflow: hidden;
            border-bottom: 3px solid white;
            /* flex-basis: 25%; */
            width: 303px; /*or flex basis better than width*/
            position: relative;
        }
        .portfolio .pictures .box img{
                max-width: 100%;
                transition: 0.3s;
                /* width: 232px;
                height: 150px; */
        }
        .portfolio .pictures .box:hover img{
            transform: rotate(3deg) scale(1.1);
        }
        @media (min-width: 768px) {
            .portfolio .pictures .box {
              flex-basis: 50%;
            }
          }
          @media (min-width: 1199px) {
            .portfolio .pictures .box {
              flex-basis: 25%;
            }
          }
        .portfolio .pictures .box .caption{
            position: absolute;
            background-color: white;
            bottom: -100px;
            padding: 20px;
            width: 100%;
            transition: 0.3s;
        }
        .portfolio .pictures .box:hover .caption{
            bottom: 0;}

        .portfolio .pictures .box .caption h2{
            font-size: 17px;
            font-weight: normal;
            margin-bottom: 10px;
        }
        .portfolio .pictures .box .caption p{
            color:var(--main-color)
        }
        .portfolio .more{
           
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .portfolio .more button{
            background-color: var(--main-color);
            color: white;
            height: fit-content;
            padding: 12px 15px;
            border-color: #f1f7f800;
            text-transform: uppercase;
        }
         /* End Po rtfolio */
              /* Start Video */
        .video {
            position: relative;
            margin-top: 120px;
        }
        .video video{
            /* height: 600px; */
            width: 100%;
        }
        .video::before{
            content: "";
            background-color: rgb(0 0 0 / 60%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .video button{
            color: black;
            border: #a2a2a2;
        }
        .video .text{
            width: 100%;;
            padding: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            color: white;
            background-color: var(--transparent-color);
        }  
        .video .text h2 {
            margin: 0 0 30px;
            text-transform: uppercase;
            font-weight: normal;
        }
        .video .text p {
            margin: 30px;
        }
        .video .text button{
            color: white;
            background-color: black;
            text-transform: uppercase;
            padding: 10px 20px;
        }
              /* End Video */
                /* start About */
        .about{
            position: relative;
        }
        .about img{
            position: absolute;
            top: 50%;
            margin: 188px 0 0 188px;
        }
        @media (max-width: 767px) {
            .about img {
              bottom: -60px;
              margin-top: -60px;
            }
          }
        /* End About */
        /* Start State */
        .state{
            /* width: 100%; */ /*تظهر السكرول الأفقي */
            position: relative;
            background-image: url(../images/stats.png);
            background-size: cover;
            padding: 100px;
            top: 300px;
            /* margin: 20px 0 0 20px; */
        }
        .state::after{
            content: "";
            background-color: rgb(0 0 0 / 70%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .state .container{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            
        }
        /* نستعمل الافتر أو لكل بوكس منعمل لون للباك غراوند  */
        .state .container::after{
            content: "";
            background-color: rgb(15 116 143 / 70%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .state .container .box {
            padding: 50px;
            color: white;
            text-align: center;
            z-index: 2;
        }
        @media (max-width: 767px) {
            .state .container .box {
              flex-basis: 100%;
            }
          }
          @media (min-width: 768px) {
            .state .container .box {
              flex-basis: 50%;
            }
          }
          @media (min-width: 992px) {
            .state .container .box {
              flex-basis: 25%;
            }
          }
        .state .container .box h2 {
            font-size: 50px;
            font-weight: bold;
            margin: 0 0 20px;
        }
        .state .box i{
            border: 12px solid black;
            border-radius: 50%;
            background-color: black;
            margin: 0 auto 30px;
            /* OR we put w$h with flex */
            
            /* width: 40px;
            height: 40px;
            display: flex;
            background-color: black;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin: 0 auto 30px; */

        }
        /* End State */
        /* Start Skills */
        .our-skills{
            position: relative;
            margin-top: 400px;
            padding-top: var(--padding-section);
            padding-bottom: var(--padding-section);
        }
        .our-skills .container{
            /* position: relative; */
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 1170px;
            /* height: 700vh; */
        }
        @media (min-width: 992px) {
            .our-skills .container > div {
              flex-basis: 45%;
            }
          }
        .our-skills .testimonials > h2{
            font-weight: normal;
            text-align: center;
            margin-bottom: 30px;
            color: red;
        }
        .our-skills .testimonials > p{
            font-weight: normal;
            text-align: center;
            line-height: 1.8;
            color:#777;
            margin-bottom: 30px;
            width: 530px;
        }
        .our-skills .testimonials .content{
            display:flex;
            left: 0;
            top: 20px;
            width: 550px;

            align-items: center;
            margin-bottom: 30px;
        }
        .our-skills .testimonials .content img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 40px 0 0;
        }
        @media (max-width: 767px) {
            .our-skills .testimonials .content {
              flex-direction: column;
              text-align: center;
            }
        }
        .our-skills .testimonials .text {
            line-height: 1.8;
            color:rgb(10, 10, 10);
            border-bottom: 1px solid #a2a2a2;
            padding-bottom: 30px;
        }
        .our-skills .testimonials .content .text p{
            /* position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 10px; */

            color: #777;
            text-align: right;
            font-size: 14px;
            margin-bottom: 20px;
        }
        .our-skills .testimonials .bullet{
            /* position: relative; */
            display:flex;
            justify-content: center;
               }
        .our-skills .testimonials .bullet a{
            display: flex;
            margin-top: 50px;
            margin-bottom: 50px;/* or put align-item instead of margin top/bottom */
        }
        .our-skills .testimonials .bullet a span{
            width: 14px;
            height: 14px;
            border: 1px solid seagreen;
            border-radius: 50%;
            margin-right: 10px;

        }
        .our-skills .testimonials .bullet a span.active{
            background-color: #19c8fa;
        }
       
        /* Skills */
       .our-skills .skills{
            /* position: relative; */
            /* width: 40%; */

        }
        .our-skills .skills  > h2{
            text-align: center;
            margin-bottom: 30px;
            font-weight: normal;
            color: red;
        }
        .our-skills .skills  > p{
            color: #777;
            line-height: 1.8;
            text-align: center;
            margin-bottom: 60px;
            width: 500px;
        }
        .our-skills .prog-holder{
            position: relative;
            margin-bottom: 50px;
        }
        
        .our-skills .skills .prog-holder h4{
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 14px;
        }
        .our-skills .skills .prog-holder .prog{
            background-color: #dedadc;
            height: 30px;
        }
        .our-skills .prog-holder .prog span{
            height: 30px;
            display: block;/*or inline-block or others but not inline*/
            background-color: #19c8fa;
            position: relative;
        }
        .our-skills .prog-holder .prog span::before{
            content: attr(data-progress);
            position: absolute;
            width: 40px;
            color: white;
            text-align: center;
            border-radius: 4px;
            background-color: black;
            top: -40px;
            right: -18px;
            padding: 4px 0;
            z-index: 1;
        }

        .our-skills .prog-holder .prog span::after{
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            border-style: solid;
            background-color: black;
            top: -20px;
            right: -4px;
            transform: rotate(45deg); 
            
            /*OR use border color*/
            
            /* content: "";
            position: absolute;
            border-style: solid;
            border-width: 8px;
            border-color: black transparent transparent;
            right: -8px;
            top: -15px; */
        }

        .our-skills  .content{
            position: relative;
            display:flex;
            margin-bottom: 30px;
            background-color: white;
            width: 460px;

        }
        .our-skills .content .text p{
            position: absolute;
            bottom: 0;
            right: 20px;
            margin-bottom: 10px;
        }

        /* End Skills */

        .quote{
            position: relative;
            background-image: url(../images/Bridge.jpg);
            background-size: cover;
            height: 308px;
            text-align: center;
            padding: 100px 0;
            color: white;

        }
        .quote .container{
            position: relative;
        }
        .quote q{
            margin-bottom: 20px;
            font-size: 33px;
            display: block;            
        }
        .quote span{
            font-size: 15px;
            font-weight: normal;
        }

        /* Start Pricing */
        .pricing{
            position: relative;
        }
        .pricing .sections{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-transform: uppercase;
            padding: 20px 0;
        }
        .pricing .sections .plan{
            display: grid;
            justify-content: center;
            padding: 20px;
           
        }
        .pricing .sections .plan .head{
            display: grid;
            border-top: 1px solid aqua;
            border-bottom: 1px solid aqua;
            width: 300px;
            height: 200px;
            padding: 20px;
        }
        .pricing .sections .plan .head span{
            text-align: center;
        }
        .pricing .sections .plan .head p{
                font-size: 60px;
                text-align: center;
                font-weight: bold;
        }
        .pricing .sections .plan .head p::before{
            content: "$";
            font-size: 25px;
            font-weight: normal;
            position: relative;
            margin-right: 20px;
            top: -40px;

        }
        .pricing .sections .plan .head p::after{
            content: "/Mo";
            font-size: 20px;
            position: relative;
            margin-left: 20px;

        }
        .pricing .sections .plan ul{
            display: grid;
            justify-content: center;
            text-align: center;
            font-size: 16px;
            font-weight: normal;
            padding: 20px 20px 0;
            border-bottom: 1px solid aqua;
        }
        .pricing .sections .plan ul li{
            padding-bottom: 14px; /*or pdding:14px*/
            margin-bottom: 14px;
            border-bottom: 1px solid aqua;

        }
        .pricing .sections .plan ul li:last-child{
            border-bottom: none;
        }
        .pricing .sections .plan .foot{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
        }
        .pricing .sections .plan .foot button{
            padding: 20px;
            color: rgb(236, 14, 236);
            background-color: white;
            border:1px solid var(--main-color);
            cursor:pointer;
        }
        .pricing .contact-text{
            text-align: center;
            font-size: 25px;
            margin: 30px auto 20px;
        }
        .pricing button{
            display: block;
            font-size: 20px;
            margin: 15px auto 50px;
            padding: 15px 30px;
            color: white;
            background-color: var(--main-color);
            border: none;
        }
        /* End Pricing */
        /* Start Subscribe */
        .subscribe{
            position: relative;
            background-image: url(../images/subscribe.jpg);
            background-size: cover;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: white;
            font-size: 18px;
            
        }
        @media (max-width: 991px) {
            .subscribe p {
              margin: 30px 0 0;
            }
          }
        .subscribe .container {
            position: relative;
            display: flex;
            align-items: center;
          }
          @media (max-width: 991px) {
            .subscribe .container {
              flex-direction: column;
            }
          }
        .subscribe .sub{
            position: absolute;
            display: inline-flex;
            align-items: center;
            margin-right: 30px;
            margin: 0 0 0 50px;
            
        }
        .subscribe .sub input{
            width: 240px;
            height: 70px;
            background-color: transparent;
            border: 1px solid white;
            border-style: solid none solid solid;

        }
        .subscribe::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 50%);
        }
        
        /* .subscribe .sub input::before{
            content: "Your Email";
            position: relative;
            font-size: 20px;
        } */
        .subscribe .sub button{
            width: 150px;
            height: 70px;
            text-transform: uppercase;
            border: 1px solid white;
            border-style: solid solid solid none;

            background-color: var(--main-color);
            color: white;
        }
        .subscribe .sub i{
            position:absolute;
            margin: 25px;
        }
        .subscribe .sub span{
            position:absolute;
            left: 60px;
        }
        .subscribe p{
            margin-left: 500px;
            line-height: 1.8;
        }
        /* End Subscribe */
        /* Start Contact us */
        .contact-us{
            position: relative;
            /* display: flex; */

        }
        .contact-us .main-heading h2 {
            text-transform:uppercase;
        }
        .contact-us .form{
            display: flex;
        }
        .contact-us .contact{
            display: flex;
            flex-wrap:wrap;
            width: min-content;
        }
        @media (max-width: 767px) {
        .contact .content {
            flex-direction: column;
        }
        }
        @media (max-width: 767px) {
        .contact .content .info {
            order: -1;
            text-align: center;
        }
        }
        @media (max-width: 767px) {
        .contact .content .info h4:nth-of-type(2) {
            margin-top: 30px;
        }
        }
        .contact-us .contact input {
            width: 670px;
            height: 60px;
            padding: 20px;
            margin: 30px 30px 10px 60px;
            border: 1px solid#cdcdcd;
           
        }
        .contact-us .contact textarea{ 
            width: 670px;
            padding: 20px;
            margin: 30px 30px 10px 60px;
            border: 1px solid#cdcdcd;
        }
        .contact-us button{
            display: block;
            font-size: 20px;
            margin: 15px 55px 50px;
            padding: 15px 30px;
            color: white;
            background-color: var(--main-color);
            border: none;
            position: absolute; 
            right: 456px;
            bottom: -150px; 
        /* End Contact us */
        }
        .contact-us .info{
            display: flex;
            flex-wrap: wrap;
            margin: 30px 10px;
            width: 170px;
        }
        .contact-us .info .touch p{
            margin-bottom: 30px;
        }
        .contact-us .info .touch span{
            color: #a2a2a2;
            line-height: 2;
        }
        .contact-us .info .touch .italic{
            color: #a2a2a2;
            font-style: italic;
            line-height: 2;
        }
        @media (max-width: 767px) {
            .contact .content .info address {
              margin-bottom: 40px;
            }
          }
        .footer{
            background-image: url(../images/subscribe.jpg);
            position: relative;
            margin-top: 70px;
            top: 100px;
            background-size: cover;
            height: 400px;
            text-align: center;
            display: flex;
            align-items: flex-start;
            color: white;
            padding: 60px;
            bottom: 0;
        }
        .footer .container{
            z-index: 1;
        }
        .footer img {
            border-style: none;
            margin-bottom: 50px;
        }

        .footer h2{
            width: 200px;
            border-bottom: 1px solid white;
            padding-bottom: 20px;
            margin: 20px auto;
            font-weight: normal;

        }
        .footer .icon{
            /* padding: 30px; */
            margin: 30px 0px 30px 30px;
            display: inline;

        }
        .footer .icon i{
            padding-right: 30px;
        }
        .footer .copyright{
            margin-top: 80px;
        }
        .footer .copyright span{
            color: var(--main-color);
            font-weight: bold;
        }
        .footer::before{
            content: "";
            background-color: rgb(0 0 0 / 70%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        